<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="requestListener" class="scrutator.core.sync.listener.FileRequestListener"/>	
	<bean id="rawCommandListener" class="scrutator.core.listener.RawCommandListener"/>
	<bean id="defaultLogListener" class="scrutator.core.listener.PrintListener"/>
	<bean id="mainEventManager" class="scrutator.core.manager.AsyncEventManager">
		<constructor-arg>
			<value>resource/impl/server_map.xml</value>
		</constructor-arg>
	</bean>
	<bean id="servicesObj" class="scrutator.core.network.SCRTServices">
		<property name="manager">
			<ref bean="mainEventManager"/>
		</property>
	</bean>
	
	<bean id="eventReceiver" class="scrutator.core.network.XMLRPCServer">
		<constructor-arg>
			<ref bean="servicesObj"/>
			<value>7080</value>
			<ref bean="mainEventManager"/>
		</constructor-arg>
	</bean>
	
</beans>